.admin-section {
    display: flex;
}

.admin-sidebar {
    background-color: darkslategray;
    width: 200px;
    height: 100vh;
    padding: 70px 20px;
    color: floralwhite;
    /* padding-top: 30px; */
}

.product{
    margin: 5% 10%;
}